body {
    background-color: #E8E8E4;
    height:100vh;
    margin:0%;
    font-family: 'Inter', sans-serif;
}

#logo{
    width: 60%;
    min-width: 200px;
    max-width: 300px;
    height: auto;
    display:flex;
}


#footer,#travelTime{
    padding-top: 20px;
    padding-bottom: 20px;
}

.bolder{
    border: 2px solid #000;
}

.about{
    font-size:large;
}

.hidden{
    display:none;
}

@media screen and (min-width: 601px) {
    .label{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size:1vw;
        
    }
  }

@media screen and (max-width: 600px) {
    .label {
        font-size: 11px;
    }
}