body {
    background-color: #E8E8E4;
    height:100vh;
    margin:0%;
font-family: 'Inter', sans-serif;
}

#logo{
    width: 60%;
    min-width: 200px;
    max-width: 300px;
    height: auto;
    display:flex;
}


#footer,#travelTime{
        padding-top: 20px;
    padding-bottom: 20px;
}

.bolder{
    border: 2px solid #000;
}

.about{
    font-size:large;
}

.hidden{
    display:none;
}

.left-align {
    margin-left: 20px; 
}

.image-col {
    margin-right: 5px; 
}

.same-size-image {
    width: 200px;
    height: 200px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.image-text {
    margin: 1px 0;
    padding: 0px;
}

@media screen and (min-width: 601px) {
    .label{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size:1vw;
        
    }
  }

@media screen and (max-width: 600px) {
    .label {
        font-size: 11px;
    }
}